## Exclude SVN
/.svn/

## Exclude IntelliJ files
/.idea/
*.iml

## Exclude Build Directories
target/

## Java Package Files
*.jar
*.war
*.ear
*.db

## Java Class Files
*.class

## Log
/.log/

## App Manager
/.manager/

## OS X metadata
*.DS_Store*
